.container-edit-and-share {
  flex: 1;
  height: 100vh;
  overflow: scroll;
}

.edit-and-share {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e6ecf0;
  border: 0;
  border-radius: 15px;
  margin: 20px 10px;
  overflow: hidden;
}

.title-edit-and-share {
  font-size: 21px;
  color: #000;
  margin: 15px 20px 0px 20px;
}

.show-container-edit-and-share {
  visibility: visible !important;
}

.close-button-edit-and-share {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  color: #000;
  background-color: #00bc58;
  border-radius: 50%;
  cursor: pointer;
  transition: filter 0.5s ease;
}

.close-button-edit-and-share:hover {
  filter: brightness(90%);
}

@media (max-width: 851px) {
  .container-edit-and-share {
    flex: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: #00000062;
    visibility: hidden;
    z-index: 2000;
  }

  .edit-and-share {
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .edit-and-share {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 95%;
    overflow: scroll;
  }

  .group-title-and-user {
    width: 90%;
  }
}

@media (max-width: 334px) {
  .group-title-and-user {
    width: 100%;
  }
}
