.container-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  overflow: hidden;
  transition: all 0.5s ease;
  margin-top: 3px;
  position: relative;
}

.group-itens-categories {
  width: 90%;
}

.category-item {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #e6ecf0;
  font-family: Oswald;
  font-size: 18px;
  color: #657786;
  padding: 10px 20px;
  width: 25%;
  transition: color 0.5s ease;
  cursor: pointer;
}

.category-item:hover {
  color: #00bc58 !important;
}

.active-category {
  border-bottom: 3px solid #00bc58 !important;
  color: #00bc58 !important;
}

.icon-drop {
  position: absolute;
  top: 16px;
  margin-left: 93%;
  color: #657786;
  cursor: pointer;
}

@media (max-width: 599px) {
  .category-item {
    width: 33%;
  }
}
@media (max-width: 400px) {
  .category-item {
    width: 50%;
  }
}
