.container-user {
  display: flex;
  border: 0;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 25px;
  flex-wrap: wrap;
  overflow: hidden;
}

.image-user {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../../../../assets/img_default_profile.jpg);
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border: 0;
  border-radius: 50%;
}

.name-user {
  color: #000;
}
