.container-edit-and-share-article {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  width: 85%;
  margin-bottom: 20px;
}

.group-bottom-edit-and-share-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-button-edit-and-share-article {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 851px) {
  .container-edit-and-share-article {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .container-edit-and-share-article {
    margin-top: 0px;
  }
}
