.container-menu {
  flex: 1;
  overflow: hidden;
}

.logo-terEnsino-menu,
.logo-terEnsino-menu-mobile {
  font-size: 32px;
  font-weight: 400;
  color: #00bc58;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.logo-terEnsino-menu-mobile {
  display: none;
  padding-left: 5px;
}

.menu-app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 50px;
}

.button-logout {
  background-color: #00bc58;
  color: #fff;
  font-family: Oswald;
  font-weight: 400;
  font-size: 18px;
  height: 50px;
  width: 100%;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  transition: filter 0.5s ease;
}

.button-logout:hover {
  filter: brightness(80%);
}

.menu-development-credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.thank-you {
  font-size: 20px;
  color: #000;
  margin-bottom: 5px;
}

.development {
  font-size: 14px;
}

.icon-heart {
  color: #00bc58;
}

@media (max-width: 1099px) {
  .container-menu {
    flex: none;
  }
  .menu-app {
    margin: 0px 20px;
  }

  .menu-development-credits {
    display: none;
  }
}

@media (max-width: 1000px) {
  .logo-terEnsino-menu {
    display: none;
  }

  .logo-terEnsino-menu-mobile {
    display: block;
  }
}
