@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Oswald;
  font-weight: 400;
  color: #657786;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dad7d7;
}

.background-theme-dark-global {
  background-color: #181818 !important;
  color: #aaa !important;
}

.font-color-theme-dark-global {
  color: #fff !important;
}

.font-color-input-and-textarea-theme-dark-global {
  color: #aaa !important;
}

.background-edit-and-share-theme-dark-global {
  background-color: #222222 !important;
}

.border-color-theme-dark-global {
  border-color: #303030 !important;
}

.bar-search-theme-dark-global {
  background-color: #000 !important;
  color: #aaa;
}
